/*
 * Coded by: Garz4 (Uriel García Rivas).
 */
body{
  font-family: arial;
}

h1{
  color: white;
  text-shadow: 0px 0px 3px #000000;
}

h4{
  color: gray;
}

.startOnline{
	background-color:#08ab01;
	color:#FFFFFF;
}

.startOffline{
	background-color:#00c4b3;
	color:#FFFFFF;
}
